.devenv*
.direnv
result
*.pyc
__pycache__/
.pytest_cache/
*./agl_anonymizer_pipeline/agl-anonymizer-temp
*./agl_anonymizer_pipeline-env/
./agl_anonymizer_pipeline.egg-info/
./dist/
./build/
./.mypy_cache/
./.pytest_cache/
./.tox/
./.nox/
./.hatch/
./.eggs/
./.venv/
./.vscode/
./.mypy_cache/
./.pytest_cache/
*./agl_anonymizer_pipeline/agl-anonymizer-temp
*./agl_anonymizer_pipeline/agl-anonymizer

