#frozen_east_text_detection.pb
/results

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
agl_anonymizer_pipeline/csv_files
agl_anonymizer_pipeline/devices
agl_anonymizer_pipeline/blurred_images
.pymu311flake.txt

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
EAST/
.venv/
.*.direnv/
.github/workflows/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.tar.gz
.whlagl_anonymizer_pipeline/agl_anonymizer_pipeline/dist/*.whl
agl_anonymizer_pipeline/agl_anonymizer_pipeline/dist/*.tar.gz
agl_anonymizer_pipeline/agl_anonymizer_pipeline/dist/*.whl
agl_anonymizer_pipeline/agl_anonymizer_pipeline/dist/*.tar.gz
